#pricetable { 
    .pricetable_tab {
        display: none;
    }
    &[data-tab='1'] .pricetable_tab:nth-child(1),
    &[data-tab='2'] .pricetable_tab:nth-child(2),
    &[data-tab='3'] .pricetable_tab:nth-child(3),
    &[data-tab='4'] .pricetable_tab:nth-child(4),
    &[data-tab='5'] .pricetable_tab:nth-child(5),
    &[data-tab='6'] .pricetable_tab:nth-child(6),
    &[data-tab='7'] .pricetable_tab:nth-child(7),
    &[data-tab='8'] .pricetable_tab:nth-child(8),
    &[data-tab='9'] .pricetable_tab:nth-child(9),
    &[data-tab='10'] .pricetable_tab:nth-child(10),
    &[data-tab='11'] .pricetable_tab:nth-child(11),
    &[data-tab='12'] .pricetable_tab:nth-child(12)
    {
        display: block;
    }
    &[data-tab='1'] #pricetable__tabheaders li:nth-child(1),
    &[data-tab='2'] #pricetable__tabheaders li:nth-child(2),
    &[data-tab='3'] #pricetable__tabheaders li:nth-child(3),
    &[data-tab='4'] #pricetable__tabheaders li:nth-child(4),
    &[data-tab='5'] #pricetable__tabheaders li:nth-child(5),
    &[data-tab='6'] #pricetable__tabheaders li:nth-child(6),
    &[data-tab='7'] #pricetable__tabheaders li:nth-child(7),
    &[data-tab='8'] #pricetable__tabheaders li:nth-child(8),
    &[data-tab='9'] #pricetable__tabheaders li:nth-child(9),
    &[data-tab='10'] #pricetable__tabheaders li:nth-child(10),
    &[data-tab='11'] #pricetable__tabheaders li:nth-child(11),
    &[data-tab='12'] #pricetable__tabheaders li:nth-child(12)
    {
        font-weight: bold;
    }
}

#pricetable__tabheaders {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    justify-content: flex-start;
    margin-block-start: 0;
    padding-inline-start: 0;

    li {
        padding: .5rem;
        border:1px solid #000
     }
}
#pricetable__tabbody {
    > div {
        border: 1px solid #000;
        padding: 1rem;
    }
}